header#banner
  .container
    h1.lead POLINGUAL
    h2.lead 
            |What have you tried so far just to speak? 
            br
            |Be efficient.
    br
    br
    form.form(name='language_form', ng-submit='$ctrl.submit(lang)')
        .form-group
          label Which Language you want to speak ?
          select.form-control(name='lang', ng-model='lang', ng-options='lang as lang for lang in $ctrl.langs')
          button.btn-success Find your teacher!
   
.container
  .row
    .col-lg-12
      h1.page-header Why POLINGUAL?
      ul
        li Any you want!(9:0024:00)
        li Easy everybady Language class on the phone
        li Different teacher every class(Never bored,Different ways of talking)
        li All native speakers exclusively selected and trained by Polingual
        li Free class material that covers various topics
        li Revision note after class

.flowdiv
  .container
    .row
      .col-lg-12
        h1.page-header Flow of POLINGUAL
        .row.flowimgs
         img(src="../../assets/images/Procedure1.JPG").col-lg-4.col-md-4.col-sm-6.col-xs-12.procimg
         img(src="../../assets/images/Procedure2.JPG").col-lg-4.col-md-4.col-sm-6.col-xs-12.procimg
         img(src="../../assets/images/Procedure3.JPG").col-lg-4.col-md-4.col-sm-6.col-xs-12.procimg
         img(src="../../assets/images/Procedure4.JPG").col-lg-4.col-md-4.col-sm-6.col-xs-12.procimg
         img(src="../../assets/images/Procedure5.JPG").col-lg-4.col-md-4.col-sm-6.col-xs-12.procimg
         img(src="../../assets/images/Procedure5.JPG").col-lg-4.col-md-4.col-sm-6.col-xs-12.procimg
