header#banner
  .container
    h1.lead POLINGUAL
    h2.lead Hello there, are you new?
    form.form(name='language_form', novalidiate)
        .form-group
	label Language
        select.form-control(name='lang', ng-model='text', ng-options='lang.value as lang.name for lang in xxx.langs')
.container
  .row
    .col-lg-12
      h1.page-header Why POLINGUAL?
      ul
        li Any you want!(9:0024:00)
        li Easy everybady Language class on the phone
        li Different teacher every class(Never bored,Different ways of talking)
        li All native speakers exclusively selected and trained by Polingual
        li Free class material that covers various topics
        li Revision note after class
