#banner {
  border-bottom: none;
  background:url(../../assets/images/SunSet2.jpg);
  background-size: 1200px 900px;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
}

#banner:before {
  content: "";
  z-index:-1;
  display: block;
  top: 71px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 600px;
  background-color:rgba(0,0,0,255);
  position: absolute;
}

#banner h1 {
 font-size: 4.8em;
}

#banner h2 {
  font-size: 2.5em;
}

.mainc {
   content: "";
   z-index:auto;
   display: block;
   top: 71px;
   left: 0;
   right: 0;
   bottom: 0;
   height: 600px;
   background-color:rgba(0,0,0,0.6);
   position: absolute;
}

#banner form {
  position:relative;
  label {
	  color: #FFFFFF;
	  font-size: 1.8em;
  }	  
  button {
    position: absolute;
    right : 3px;
    margin-top: 8px;
    padding: 2px 5px 2px 5px;
    font-size: 1.5em;
 }
}

.lead {
  position: relative;
  color: #FFFFFF;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}

.procimg{
	width: 180px;
	height: 155px;

}

.flowdiv{
	background-color: rgba(70,70,70,20);
	color: #FFFFFF;
	margin-top: 15px;
	padding-top: 5px;
	padding-bottom: 30px;
}


