.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  background:url(../../assets/images/SunSet.jpg);
  background-size: cover;
  height: 50vh;
  min-height: 350px;
}

#banner:before {
  z-index: 1;
  content: "";
  display: block;
  top: 71px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0,0,0,0.25);
  width:100%;
  height:50vh;
  position: absolute;
  min-height: 350px
}

#banner h1 {
  font-size: 8em;
}

#banner h2 {
  font-size: 2.5em;
}

#banner button {
  padding: 5px 5px 5px 5px;
  position: relative;
  margin-left: 50vw;
  font-size: 2em;
  z-index: 2;
}

.lead {
  z-index: 2;
  position: relative;
  color: #FFFFFF;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}
