.container
  .row
    .col-sm-12
      h1 Profile Register
    .col-sm-12
      //form.form(name='form', ng-submit='prfl.update(form)', novalidiate)
      form.form(name='form', ng-submit='prfl.update()', novalidiate='')
        .form-group
          label City
          input.form-control(type='text', name='city', ng-model='prfl.user.city')
        .form-group
          label Language
          select.form-control(name='lang', ng-model='prfl.user.lang', ng-options='lang.value as lang.name for lang in prfl.langs')
        .form-group
          label Gender
          select.form-control(name='Gender', ng-model='prfl.user.gender')
            option(value='Male') Male
            option(value='Female') Female
            option(value='Other') Other
        button.btn(type='submit') Register
//      .form-group
//	  label Full Name
//	  input.form-control(type='text', name='full_name', ng-model='prfl.user.fullname')
//	.form-group
//	  label Country
//	  select.form-control(name='country', ng-model='prfl.user.country')
//	    option(ng:repeat='country_item in prfl.countrys')
//	.form-group
//	  label Age
//	  input.form-control(type='text', name='lang', ng-model='prfl.user.age', integer='')
