.container
  .row
    .col-sm-12
      h1 Profile Register
    .col-sm-12
      form.form(name='form', ng-submit='prfl.update(form)', novalidiate='')
        .form-group(ng-class='{"has-success": from.country.$vaild && prfl.submitted },\
        "has-error": form.country.$invalid && prfl.submitted}')
          label Country 
          input.form-control(type='text', name='country', ng-model='prfl.user.country'
           placeholder='United States, Japan, etc', required='', ng-disabled='prfl.succeed')
          p.help-block(ng-show='form.country.$error.required && prfl.submitted')
            | A country is required
        
        .form-group
          label Language
          select.form-control(name='lang', ng-model='prfl.user.langs', ng-options='lang_item for lang_item in prfl.langs')
        .form-group
          label Gender
          select.form-control(name='Gender', ng-model='prfl.user.gender', ng-options='gen_item for gen_item in prfl.gender')
        .form-group
          label Interest
          tags-input(ng-model="prfl.interests", ng-disabled='prfl.succeed')
            auto-complete(source="prfl.loadItems($query)")
        p.help-block(ng-show='prfl.succeed') Sucessfully registered
        button.btn(type='submit', ng-hide='prfl.succeed') Register
        button.btn(ng-show='prfl.succeed' ui-sref='main') Back
