.container
  {{$ctrl.tlang}}
  {{$ctrl.teachers}}
  .row
    ul
     li.col-md-3.col-xs-12.tbox(ng-repeat='teacher in $ctrl.teachers')  
        ul
          li {{teacher.name}}
          li {{teacher.gender}}
          li {{teacher.country}}
          li {{teacher.language}}
          li testtesttesttesttest
          li testtesttesttesttest
