.container
  .row
    .col-sm-12
      h1 Member Registration

    .col-sm-12
      form.form-inline
        label Name
        input#name(type="text", name="name", ng-model="member.name")
        button.btn.btn-primary.btn-sm(ng-click="$ctrl.createMember()") Register

    .col-sm-12
      h1 Member List
    .col-sm-12
      li(ng:repeat="member in $ctrl.members") {{member.name}}
